<form [formGroup]="loginForm" (submit)="onFormSubmit($event)">
    <article>
        <label for="firstname">
            First name
        </label>
        <input type="text" id="firstname" name="firstname" placeholder="First name" formControlName="username" required>

        <label for="password">
            Password
        </label>
        <input type="password" id="password" name="password" placeholder="Password" formControlName="password" required>

        <br /><br />
        <button type="submit" class="secondary" [disabled]="this.loginForm.invalid">Login</button>
    </article>
</form>