# Compiled output
**/dist
**/tmp
**/out-tsc
**/bazel-out

# Node
**/node_modules
npm-debug.log
yarn-error.log

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

**.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

obj/
[B|b]in
[O|o]bj
bin/
.vs/
.DS_Store
db/