<article>
    <form [formGroup]="companyForm" #form>
        <label for="companyName">
            Company name
            <input #input id="companyName" maxlength="50" placeholder="" required="" formControlName="companyName"
                [attr.aria-invalid]="companyName.invalid">
            <small>Only alphanumeric and max 50 characters ({{input.value.length}}/50)</small>
        </label>

        <label for="industry">
            Industry
            <select required formControlName="industry" role="list" [attr.aria-invalid]="industry.invalid">
                @for (item of industryList; track item.id;) {
                <option [value]="item.id">{{item.name}}</option>
                }
            </select>
        </label>

        <label for="employeeCount">
            Number of employees
            <input id="employeeCount" placeholder="" required="" formControlName="employeeCount"
                [attr.aria-invalid]="employeeCount.invalid">
            <small>Must be greater than 0 and less than 1 million</small>
        </label>

        <label for="city">
            City
            <input #cityInput id="city" maxlength="50" placeholder="" required="" formControlName="city"
                [attr.aria-invalid]="city.invalid">
            <small>Only alphabets and hyphen and max 50 characters ({{cityInput.value.length}}/50)</small>
        </label>

        <label for="parentCompany">
            Industry
            <select required formControlName="parentCompany" [attr.aria-invalid]="parentCompany.invalid">
                @for (item of companyList; track item.id;) {
                <option [value]="item.id">{{item.name}}</option>
                }
            </select>
        </label>

        <div class="pagination">
            <a class="contrast" href="#" role="button" (click)="onFormSubmit($event)">Submit</a>
            <a class="contrast" href="#" role="button" routerLink="/dashboard/list">Cancel</a>
        </div>
    </form>
</article>