article {
    margin: 0 0;
    --block-spacing-vertical: 2rem;

    small {
        --font-size: 0.75rem;
    }

    .pagination {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            // margin: 3px 3px;
            font-size: 0.8rem;
            // text-decoration: none;
        }
    }
}
