<app-company-search-filter [companyNo]="companyNo" [companyName]="companyName" [industryId]="industryId" [city]="city"
    [parentCompany]="parentCompany" [totalEmployees]="totalEmployees"></app-company-search-filter>

@if (isLoadingResults === true) {
<span aria-busy="true"></span>
}

@if (items.length <= 0) { <div>
    No companies found
    </div>
    } @else {
    <article>
        <figure>
            <table role="grid">
                <thead>
                    <th scope="col"><strong>No.</strong></th>
                    <th scope="col"><strong>Name</strong></th>
                    <th scope="col"><strong>Industry</strong></th>
                    <th scope="col"><strong>Total Employees</strong></th>
                    <th scope="col"><strong>City</strong></th>
                    <th scope="col"><strong>Parent Company</strong></th>
                    <th scope="col"><strong>Level</strong></th>
                </thead>
                <tbody>
                    @for (item of items; track item.id;) {
                    <tr scope="row" [routerLink]="['/dashboard/save', { companyId: item.id }]">
                        <td>{{item.companyNo}}</td>
                        <td>{{item.companyName}}</td>
                        <td>{{item.industryName}}</td>
                        <td>{{item.totalEmployees}}</td>
                        <td>{{item.city}}</td>
                        <td>{{item.parentCompany}}</td>
                        <td>{{item.level}}</td>
                    </tr>
                    }
                </tbody>
            </table>

        </figure>
        <div class="pagination">
            <a class="contrast" href="#" role="button" (click)="decrementPageIndex($event)">Prev</a>
            <a class="contrast" href="#" role="button" (click)="incrementPageIndex($event)">Next</a>
        </div>
    </article>
    }


    <a role="button" class="secondary" routerLink="/dashboard/save">New company</a>