article {
    --block-spacing-vertical: 10px;

    th {
        --font-size: 16px;
    }

    td {
        --font-size: 15px;
    }

    .pagination {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            // --line-height: 1.6;
            // --form-element-spacing-vertical: 0.6rem;
            margin: 3px 3px;
            font-size: 0.8rem;
            // font-weight: bold;
            text-decoration: none;
        }
    }
}