<!-- Grid -->
<details open>
    <summary>Filter Options</summary>

    <article class="grid">

        <!-- Markup example 1: input is inside label -->
        <label for="companyNo">
            Company no.
            <input type="number" id="companyNo" (keyup)="onCompanyNoChange($event)">
        </label>

        <label for="companyName">
            Company name
            <input id="companyName" maxlength="50" (keyup)="onCompanyNameChange($event)">
        </label>

        <label for="industry">
            Industry
            <select required role="list" id="industry" (click)="onIndustryChange($event)">
                <option [value]="0">Select</option>
                @for (item of industryList; track item.id;) {
                <option [value]="item.id">{{item.name}}</option>
                }
            </select>
        </label>

        <label for="employeeCount">
            Total employees
            <input id="employeeCount" type="number" (keyup)="onTotalEmployeeChange($event)">
        </label>

        <label for="city">
            City
            <input id="city" maxlength="50" (keyup)="onCityChange($event)">
        </label>

        <label for="parentCompany">
            Parent company
            <select required role="list" id="parentCompany" (click)="onParentCompanyChange($event)">
                <option value="None">Select</option>
                @for (item of companyList; track item.id;) {
                <option [value]="item.name">{{item.name}}</option>
                }
            </select>
        </label>
    </article>
</details>